.content
	padding: 10px 

	&__news
		margin-bottom: 40px

		+r($screen-lg)
			padding: 0

	&__important
		max-width: 750px
		margin-bottom: 30px

	&__list-news
		margin-bottom: 40px

	&__info
		display: flex
		justify-content: space-between
		width: 95%
		padding: 18px 0 28px 0

	&__views
		color: #888
		font-size: 13px
		line-height: 1.2
